<div class="container" >
  <div class="header">
    <div class="header__banner"
         [ngStyle]="{
      'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
      }">
      <h2>{{headerTitle}}</h2>
      <div class="header__buttons">
        <button class="button-play">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>
        <button class="button-knowmore">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>
      </div>
    </div> 
   <div class="header__sticky" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
     <div class="header__left">
       <a routerLink="/">
         <img src="assets/app-logo.png" alt="Logo">
       </a>
       <ul>
         <li class="active"><a (click)="OnClickMovie()">Home</a></li>
         <li ><a (click)="OnClickTV()">TV Shows</a></li>
         <li><a (click)="OnClickMoviesPage()">Movies</a></li>
         <li><a href="#">Latest</a></li>
       </ul>
     </div>
   </div>  
  </div>
  <div class="body" style="margin-top: 30rem;" [ngStyle]="{ 'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')' 
    , 'background-size': '100% 100%' 
  }" >
        <router-outlet></router-outlet>
  </div>
</div>