<div class="container" >
  <div class="header">
    <div class="header__banner"
         [ngStyle]="{
      'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
      }">
      <h2>{{headerTitle}}</h2>
      <div class="header__buttons">
        <button class="button-play">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>
        <button class="button-knowmore">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>
      </div>
    </div> 
   <div class="header__sticky" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
     <div class="header__left">
       <a routerLink="/">
         <img src="assets/netflix.svg" alt="NetflixLogo">
       </a>
       <ul>
         <li class="active"><a (click)="OnClickMovie()">Home</a></li>
         <li ><a (click)="OnClickTV()">TV Shows</a></li>
         <li><a href="#">Movies</a></li>
         <li><a href="#">Latest</a></li>
         <li><a href="#">My List</a></li>
       </ul>
     </div>

     <div class="header__right">
       <ul>
         <li><a href="#"><mat-icon>search</mat-icon></a></li>
         <li><a href="#">Children</a></li>
         <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
         <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
       </ul>
     </div>
   </div>  
  </div>
  <div class="body" style="margin-top: 30rem;" [ngStyle]="{ 'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')' 
    , 'background-size': '100% 100%' 
  }" >
        <router-outlet></router-outlet>
  </div>
    <!---        
  <div *ngIf="router.url === '/'">
    <div class="body" style="margin-top: 30rem;">
      <app-slider title="Trending" [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Originals" [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
    </div>
  </div>
  

 
    <router-outlet *ngIf="router.url === '/'">
      <div class="body" style="margin-top: 30rem;">
        <app-slider title="Trending" [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
        <app-slider title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
        <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
        <app-slider title="Originals" [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
        <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
      </div>
    </router-outlet>
    <router-outlet *ngIf="router.url === '/tv'">
      <div class="body" style="margin-top: 30rem;">
        <app-slider-tv title="Trending" [tvshows]="trendingtv" [sliderConfig]="sliderConfig"></app-slider-tv>
        <app-slider-tv title="Top Rated" [tvshows]="topRatedtv" [sliderConfig]="sliderConfig"></app-slider-tv>
        <app-slider-tv title="Now Playing" [tvshows]="nowPlayingtv" [sliderConfig]="sliderConfig"></app-slider-tv>
        <app-slider-tv title="Originals" [tvshows]="originalstv" [sliderConfig]="sliderConfig"></app-slider-tv>
        <app-slider-tv title="Popular" [tvshows]="populartv" [sliderConfig]="sliderConfig"></app-slider-tv>
      </div>
    </router-outlet>

  

  -->
</div>